<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, 
    maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Layout Basica</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="contenedor">
      <header>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contactos</a></li>
          </ul>
        </nav>
      </header>
      <section class="main">
        <div class="imagen">
          <img src="imag/city.jpg" alt="" />
        </div>
        <section class="posts">
          <article>
            <h2>Titulo del articulo</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto,
              officiis neque fuga maiores minima veniam vitae laboriosam
              corrupti voluptatibus culpa voluptates fugiat cupiditate nobis ab!
              Minus quidem nihil rerum laudantium.
            </p>

            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto,
              officiis neque fuga maiores minima veniam vitae laboriosam
              corrupti voluptatibus culpa voluptates fugiat cupiditate nobis ab!
              Minus quidem nihil rerum laudantium.
            </p>

            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto,
              officiis neque fuga maiores minima veniam vitae laboriosam
              corrupti voluptatibus culpa voluptates fugiat cupiditate nobis ab!
              Minus quidem nihil rerum laudantium.
            </p>

            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto,
              officiis neque fuga maiores minima veniam vitae laboriosam
              corrupti voluptatibus culpa voluptates fugiat cupiditate nobis ab!
              Minus quidem nihil rerum laudantium.
            </p>
          </article>
        </section>
      </section>
      <aside>
        <div class="widget">
          <h3 class="titulo">Articulos Destacados</h3>
          <ul>
            <li>
              <a href="#"
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit</a
              >
            </li>
            <li>
              <a href="#"
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit</a
              >
            </li>
            <li>
              <a href="#"
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit</a
              >
            </li>
            <li>
              <a href="#"
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit</a
              >
            </li>
            <li>
              <a href="#"
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit</a
              >
            </li>
          </ul>
        </div>

        <div class="widget">
          <h3 class="titulo">Información</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi ut
            error, dicta rem inventore quod a voluptatibus sed? Nam quam quo
            suscipit, aspernatur odio nisi doloribus nobis veritatis atque
            tempore!
          </p>
        </div>
      </aside>
      <footer>
        <p>Nairet Vergara Forsyth 2021 - Todos los derechos Reservados</p>
      </footer>
    </div>
  </body>
</html>
